body {
    background-color: #f0f3f6; 
    color: #0f0c0c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1200px;
}


header {
    text-align: center;
    margin-bottom: 30px;
}

.title {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.team-info {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #30363d;
}

.filter-section {
    text-align: center;
    margin: 20px 0;
}

#position-filter {
    padding: 8px;
    background-color: #f10c0c;
    color: #c9d1d9;
    border: 1px solid #30363d;
    border-radius: 6px;
 
}


.player-grid {
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px 0;
}


.player-card {
    background-color: #f40c0c; 
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    height: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-card h3 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
    color: #eaeae8;
}

.player-card p {
    margin: 0;
    font-size: 0.9em;
    color: #8b949e;  
}