body{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 !important;
    
    box-sizing: border-box !important;
    overflow-x: hidden !important;
    
}
.top{
    height: 4vh;
    margin-bottom: 5px;
    margin-top: 0;
    width: 100vw !important;

}
 ul{
    list-style: none;
    display: flex;
     justify-content: space-between; 
}



.Ip{
    padding-top: 30px !important; 
    font-size: larger;
    width: 100vw; 
    height: 90vh; 
    background-image: url(./hero_iphone_17_pro__bknyzxfk2agi_large.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: rgb(249, 250, 251);
     
    align-items: center;
    margin-bottom: 20px !important;
    
}
.Ip2{
    padding-top: 30px !important; 
    font-size: larger;
    width: 100vw; 
    height: 90vh; 
    background-image: url(./hero_iphone_air__0gxyavihpiqu_large.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: rgb(12, 12, 12);
     
    align-items: center;
    margin-bottom: 20px !important;
    
}
.ma{
    padding-top: 30px !important; 
       font-size: larger;
    width: 100vw; 
    height: 90vh; 
    background-image: url(./hero_macbook_pro_m5__fjgmapbkxo2u_large.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #ffffff;
      margin-bottom: 20px !important;
    align-items: center;
 }


 #g, #h{ 
     background: linear-gradient(60deg, purple, red, purple, blue, red);
    background-clip: text;
    color: transparent;
}
.I{
    width: 49vw;
    height: 600px;
    margin-right: 0;
    margin-top: 30px;
    background-image: url(./promo_apple_watch_series_11__b63hxviqvonm_large.jpg);
    background-position-x: center;
    padding-top: 20px !important;
   
}
.A{
   width: 49vw;
    height: 600px; 
     background-image: url(./promo_ipad_pro__c529dk533k4m_large.jpg);
     color: #fff;
    background-position-x: center;
    margin-right: 0;
     margin-top: 30px;
     padding-bottom: 20px !important;
}
.A p{
    margin-bottom: 0;
    padding-bottom: 0;
}
.link ul{
     list-style: none;
    display: flex;
     justify-content: center; 
}
.link a {
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 15px;
    padding-block:8px;
    padding-left: 4px;
    padding-right: 4px;
      
}
#lm{
    background-color: blue;
    color: white;
}
#by:hover, #lm:hover{
    background-color: rgb(54, 54, 241);
    color: white;
}
 

.I2{
    width: 49% ;
    height: 600px;
    margin-right: 0;
    margin-top: 30px;
    background-image: url(./promo_airpodspro_3__f6xmza7bglei_large.jpg) !important;
    background-position-x: center;
    padding-top: 20px !important;
  
   
}
.A2{
   width: 49% ;
    height: 600px; 
     background-image: url(./hero_macbook_air_avail__fpm99qgohx2e_large.jpg) !important;
    background-position-x: center;
     margin-top: 30px;
     padding-top: 20px !important; 
}
 .b, .a, .c {  
    display: flex !important;
    padding: 0;
    flex-direction: row;
    justify-content: space-between !important;
    gap: 10px;
    width: 100vw !important;
    margin: 0 !important;
    flex-wrap: wrap;
     box-sizing: border-box; 
     margin-top: 30px;
      margin-bottom: 20px !important;
}



.I3{
    width: 49% ;
    height: 600px;
    margin-right: 0;
    margin-top: 30px;
    background-image: url(./b2);
    background-position-x: center;
    padding-top: 20px !important;
    color: #070707; 
}
.A3{
   width: 49%;
    height: 600px; 
     background-image: url(./b1);
     color: #101010;
    background-position-x: center;
    
     margin-top: 30px;
     padding-top: 20px !important;
}
.c h4 {
    width: 400px;
    background: linear-gradient(90deg, purple, blue, red);
    background-clip: text;
    color: transparent;
    position: relative;
    left: 180px;
}
.nav{
     background-color: rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(10px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.menu{
     display: flex; /* Horizontal layout */
  justify-content: space-between; /* Center the navigation links */
  list-style: none;
  /* padding: 0; */
  margin: 0 auto;
  max-width: 1024px; /* Standard content width */
  height: 44px; /* A typical height for the nav bar */
  align-items: center;
  padding-right: 100px;
  color: #fff;
}
#ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.hidden{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #070707;
    color: #fff;
    font-size: large;
    font-weight: bolder;
    flex-direction: column;
}